<!DOCTYPE html>
<html lang="en">
    <head>
    <title>FaceTouch</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <link rel="stylesheet"  href="/static/css/lightslider.css"/>
    <style>
    	ul{
			list-style: none outside none;
		    padding-left: 0;
            margin: 0;
		}
        .demo {
            margin: auto;
            width: 60%;
        }
        .item{
            margin-bottom: 60px;
            /*background-color: #64f4aa;*/
        }
        .itemBold{
            margin-bottom: 60px;
            background-color: #b6b7ba;
        }
		.content-slider li{
		    /*background-color: #64f4aa;*/
		    text-align: center;
		    color: #FFF;
		}
		.content-slider h3 {
		    margin: 0;
		    padding: 70px 0;
		}
		.demo{
			width: 600px;
		}
        .centered-and-cropped { object-fit: cover }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/lightslider.js"></script>
    <script>

    </script>
</head>
<body>

{% block pagecontent %}
	<div class="demo">
        {% for section in sections %}
        <h2>{{ section.name }}</h2>
            <div class="itemBold" id="div-content-slider{{ section.id }}">
                <ul id="content-slider{{ section.id }}" class="content-slider">
                    {% for item in section.items %}
                    <li id="item{{ item.id }}">
                        <!--<h3>{{ item.name }}</h3>-->
                        <img class="centered-and-cropped" width="200" height="200" src="{{ item.image }}" />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
    <p id="event_name"></p>
    <button onclick="move_right()">Move Right</button>
    <button onclick="move_left()">Move Left</button>
    <button onclick="goToNextRow()">Go To Next Row</button>
    <button onclick="goToPrevRow()">Go To Prev Row</button>
    <button onclick="selectItem()">Add To Cart</button>
    <button onclick="checkout()">Checkout</button>


        <p id="demoXYZ"></p>

        <script>
            slider_objs = []
            slider_divs_ids = []
            let maxSections = 0;
            let sectionToCurrentItem = {};
            let sectionToItems = {};
            var cartItems = new Set();
            $(document).ready(function() {
            {% for section in sections %}
                var section_div_id = "content-slider" + "{{ section.id }}";
                slider = $("#" + section_div_id).lightSlider({
                loop:true,
                    autoWidth:true,

                keyPress:true,
                    pager:false
                });
                sectionToCurrentItem['#'+section_div_id] = 0;
                var section_list = []
                {% for item in section.items %}
                    section_list.push({{ item.id }})
                {% endfor %}
                sectionToItems['#'+section_div_id] = section_list
                slider_objs.push(slider)
                slider_divs_ids.push(section_div_id)
                maxSections++;
            {% endfor %}
        });
            var sectionIndex = 0;

            function move_right() {
                {#slider_objs[sectionIndex].goToNextSlide();#}
                let slider = slider_objs[sectionIndex];
                let sectionItemIndex = sectionToCurrentItem[slider.selector];
                if(sectionItemIndex==sectionToItems[slider.selector].length-1){
                    return;
                }
                {#console.log("currentIndex: " + sectionItemIndex)#}

                sectionToCurrentItem[slider.selector] = sectionItemIndex + 1
                let previous_item_id = sectionToItems[slider.selector][sectionItemIndex]
                let new_item_id = sectionToItems[slider.selector][sectionItemIndex+1]
                console.log(previous_item_id)
                console.log(new_item_id)
                document.getElementById("item"+new_item_id).style.opacity = "0.5"
                document.getElementById("item"+previous_item_id).style.opacity = "1.0"
                console.log(sectionToCurrentItem)
                slider_objs[sectionIndex].goToNextSlide();

            }
            function move_left() {
                slider_objs[sectionIndex].goToPrevSlide();
                let slider = slider_objs[sectionIndex];
                let sectionItemIndex = sectionToCurrentItem[slider.selector];
                if(sectionItemIndex==0){
                    return;
                }
                console.log("currentIndex: " + sectionItemIndex)
                {#console.log("currentIndex: " + sectionItemIndex)#}
                sectionToCurrentItem[slider.selector] = sectionItemIndex - 1;
            }

            function goToNextRow(){
                if(sectionIndex==maxSections-1)
                    return;
                sectionIndex++;
                {#document.getElementById(slider_divs_ids[sectionIndex-1]).className = "item";#}
                {#document.getElementById(slider_divs_ids[sectionIndex]).className = "itemBold";#}
                $('html, body').animate({
                    scrollTop: $("#"+slider_divs_ids[sectionIndex]).offset().top
                }, 1000);
            }
            function goToPrevRow(){
                if(sectionIndex == 0){
                    return
                }
                sectionIndex--;
                {#document.getElementById(slider_divs_ids[sectionIndex+1]).className = "item";#}
                {#document.getElementById(slider_divs_ids[sectionIndex]).className = "itemBold";#}
                $('html, body').animate({
                    scrollTop: $("#"+slider_divs_ids[sectionIndex]).offset().top
                }, 1000);
            }

             function selectItem(){
                let slider = slider_objs[sectionIndex];
                let currentSectionalItem = sectionToCurrentItem[slider.selector];
                itemId = sectionToItems[slider.selector][currentSectionalItem];
                cartItems.add(itemId);
                console.log(cartItems);
             }
             function checkout(){

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", "http://127.0.0.1:8000/addToCart/?cart_item_list=" + Array.from(cartItems).join(','), false );
                xmlHttp.send( null );

             }
             <!--var duration = 500000000000,-->
             <!--interval = 1000,-->
             <!--intervalTimer;-->
             <!--intervalTimer = setInterval(function() {-->
                 <!--loadDoc();-->
             <!--}, interval);-->
             <!--setTimeout(function() {-->
                 <!--clearInterval(intervalTimer);-->
             <!--}, duration);-->
        <!--function loadDoc() {-->
          <!--var xhttp = new XMLHttpRequest();-->
          <!--xhttp.onreadystatechange = function() {-->
            <!--if (this.readyState == 4 && this.status == 200) {-->
            <!--var responseObj = JSON.parse(this.responseText);-->
            <!--if(!("event_name" in responseObj)){-->
            <!--document.getElementById("event_name").innerHTML = "Status: "+ responseObj.status;-->
            <!--document.getElementById("timestamp").innerHTML = "";-->
            <!--}-->
            <!--else{-->
                <!--document.getElementById("event_name").innerHTML = "Event Name: "+ responseObj.event_name;-->
                <!--if(responseObj.event_name==move_right)move_right();-->
                <!--if(responseObj.event_name==move_left)move_left();-->
                <!--if(responseObj.event_name==move_down)goToNextRow();-->
                <!--if(responseObj.event_name==move_up)goToPrevRow();-->
                <!--document.getElementById("timestamp").innerHTML = "Timestamp: "+responseObj.timestamp;-->
            <!--}-->
            <!--}-->
          <!--};-->
          <!--xhttp.open("GET", "http://127.0.0.1:8000/event/getFirst", true);-->
          <!--xhttp.send();-->
        <!--}-->
        </script>
</body>