<!-- djangotemplates/example/templates/data.html -->

<!--{#{% extends 'base.html' %}#}-->
<!DOCTYPE html>
<style>
ul#menu li {
  display:inline;
}

ul#menu div {
  display:inline;
}

.division{
      display:inline;
      <!--width="25%";-->
      <!--height="300px";-->
      <!--border: 2px solid #000000;-->
      }
</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <h1 align="center">FaceTouch.com Test API</h1>


        <div align="center">
            <p id="event_name">Event Name: </p>
            <p id="timestamp">Timestamp: </p>
        </div>

        <button onclick="myFunction()">Right Scroll</button>

      <button onclick="left()">Left Scroll</button>

      <!--<p id="daredevil">welcome to the jungle</p>-->



  <script>



    var i=0;
    var list = [];
    {% for item in data %}
      list.push({{item.pk}});
    {% endfor %}
    function myFunction() {
      <!--document.getElementById("daredevil").innerHTML=list;-->
      if(i!=0)document.getElementById(""+list[i-1]).setAttribute("class", "w3-opacity-max");
      document.getElementById(""+list[i]).setAttribute("class", "w3-opacity-min");
      i++;
    }

    function left() {
      <!--document.getElementById("daredevil").innerHTML=list;-->
      if(i!=0)document.getElementById(""+list[i-1]).setAttribute("class", "w3-opacity-max");
      document.getElementById(""+list[i-2]).setAttribute("class", "w3-opacity-min");
      i--;
    }

    function down() {
      <!--document.getElementById("daredevil").innerHTML=list;-->
      if(i!=0)document.getElementById(""+list[i-1]).setAttribute("class", "w3-opacity-max");
      document.getElementById(""+list[i-2]).setAttribute("class", "w3-opacity-min");
      i--;
    }

    var duration = 500000000000,
     interval = 1000,
     intervalTimer;
     intervalTimer = setInterval(function() {
         loadDoc();
     }, interval);
     setTimeout(function() {
         clearInterval(intervalTimer);
     }, duration);

function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
    var responseObj = JSON.parse(this.responseText);
    if(!("event_name" in responseObj)){
    document.getElementById("event_name").innerHTML = "Status: "+ responseObj.status;
    document.getElementById("timestamp").innerHTML = "";
    }
    else{

        if(responseObj.event_name.includes("right"))myFunction();
        if(responseObj.event_name.includes("left"))left();
        document.getElementById("event_name").innerHTML = "Event Name: "+ responseObj.event_name;
        document.getElementById("timestamp").innerHTML = "Timestamp: "+responseObj.timestamp;
    }
    }
  };
  xhttp.open("GET", "http://127.0.0.1:8000/event/getFirst", true);
  xhttp.send();
}
  </script>

    {% block pagecontent %}
    <div class="table-div">
    <!-- We will display our data in a normal HTML table using Django's
    template for-loop to generate our table rows for us-->

      <ul id="menu">
        {% for item in data %}
        <li>
        <div class="division">
          <!--<img src={{item.image_url}} class="w3-opacity-max"  style="width:300px" id="0">-->
          <img src="https://static.amazon.jobs/locations/49/thumbnails/SF_Bay_Area_Thumbnail-01.jpg?1489696413" class="w3-opacity-max"  style="width:20%" style="height:20%" id={{item.pk}}>
          <!--<p align="center" style="display: inline;">hello</p>-->
          <!--<p>{{item.event_name}}</p>-->
        </div>


          <!--hello-->
        </li>

        {% endfor %}
      </ul>

      <ul id="menu">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>PHP</li>
      </ul>

      <ul id="menu">
        <li><div style='float:left'>HTML</div></li>
          <li><div style='float:right'>CSS</div></li>
          <li><div>JavaScript</div></li>
          <li><div>PHP</div></li>
      </ul>


      <ul id="menu">
          <li>          c
</li>
          <li>          <img src="https://static.amazon.jobs/locations/49/thumbnails/SF_Bay_Area_Thumbnail-01.jpg?1489696413" class="w3-opacity-max"  style="width:300px" id="0">
</li>
          <li>          <img src="https://static.amazon.jobs/locations/49/thumbnails/SF_Bay_Area_Thumbnail-01.jpg?1489696413" class="w3-opacity-max"  style="width:300px" id="0">
</li>
          <li>          <img src="https://static.amazon.jobs/locations/49/thumbnails/SF_Bay_Area_Thumbnail-01.jpg?1489696413" class="w3-opacity-max"  style="width:300px" id="0">
</li>
      </ul>

    </div>



    <div id="firstDivistion" class="division"><img src="https://static.amazon.jobs/locations/49/thumbnails/SF_Bay_Area_Thumbnail-01.jpg?1489696413" class="w3-opacity-max"  style="width:300px" id="0"></div>
    <div id="secondDivistion" class="division"><img src="https://static.amazon.jobs/locations/49/thumbnails/SF_Bay_Area_Thumbnail-01.jpg?1489696413" class="w3-opacity-max"  style="width:300px" id="0"></div>
      <!--<table class="table">-->
        <!--<thead>-->
          <!--<tr>-->
            <!--<th>Event Name</th>-->
            <!--<th>Time Stamp</th>-->
          <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
          <!--{% for event in data %}-->
            <!--<tr>-->
              <!--<td>{{ event.event_name }}</td>-->
              <!--<td>{{ event.time_stamp }}</td>-->
            <!--</tr>-->
          <!--{% endfor %}-->
        <!--</tbody>-->
      <!--</table>-->
    </div>
    {% endblock %}
  </body>
</html>